:root {
  --color-pri-400: #3563c5;
  --color-pri-500: #1c3e86;
  --color-sec-200: #fdf1e4;
  --color-sec-500: #f7c996;
  --color-sec-700: #fcac51;
  --color-tert-700: #33aa99;
  --color-wbr: #fcac51;
  --color-connect: #33aa99;
  --color-insights: #03aeef;
  --text-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  --transition: all 0.25s ease-in-out;
}

body {
  font-family: 'Lato', 'Helvetica Neue', 'Helvetica', 'Arial', 'sans-serif';
  position: relative;
  min-height: 100%;
  padding-bottom: 7.5vh;
}

/* General Nav Links */

a.nav-link {
  color: var(--color-sec-200);
  letter-spacing: 0.025rem;
  text-decoration: none;
}

a.nav-link.active {
  color: var(--color-sec-700);
  font-weight: 800;
}

a {
  color: red;
}
a:hover,
a.nav-link:focus,
a.nav-link:hover {
  color: var(--color-sec-500);
}

/* Utility Classes */
.text-shadow {
  text-shadow: var(--text-shadow);
}

[class^='event-border--'] {
  border-bottom: solid 2px;
  transition: var(--transition);
  border-color: var(--bg, var(--color-wbr));
  background: linear-gradient(to top, var(--bg, var(--color-wbr)) 50%, transparent 50%) left top;
  background-size: 100% 200%;
  padding: 0 0.15em;
  width: fit-content;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
}
[class^='event-border--']:hover {
  color: #fff;
  text-decoration: none;
  background-position: left bottom;
  border-radius: 0.25em;
}
.event-border--wbr {
  --bg: var(--color-wbr);
}
.event-border--connect {
  --bg: var(--color-connect);
}
.event-border--insights {
  --bg: var(--color-insights);
}

.bg-overlay {
  border-image: fill 1 linear-gradient(var(--bg-color-s, rgba(0, 0, 0, 0.6)), var(--bg-color-e, rgba(0, 0, 0, 0.6)));
}

/* Button Hero Global */
.btn-event {
  --bs-btn-padding-y: 0.75rem;
  background-color: var(--bg-color, var(--color-sec-700));
  color: var(--fg-color, var(--color-sec-200));
  transition: var(--transition);
  text-shadow: var(--text-shadow);
}

.btn-event:hover {
  background-color: var(--bg-color, var(--color-sec-700));
  color: var(--fg-color, var(--color-sec-200));
  transform: translateY(-5px) scale(0.98);
}

.navigation-social {
  background: linear-gradient(180deg, var(--color-pri-400), var(--color-pri-500));
}

.navigation-main {
  position: fixed;
  bottom: 0;
  background: var(--color-pri-500);
}
.navigation-main-visible .nav-link:hover {
  text-decoration: underline;
}

.navigation-main-visible .nav-logo {
  max-width: 7vw;
}

.hero {
  background: url('https://shared.wbresearch.com/WBR/images/hero-slices.jpg') center top no-repeat scroll;
  background-size: cover;
  box-shadow: inset 10000px 0 0 rgba(66, 29, 214, 0.41);
  min-height: 85vh;
  margin-top: -5rem;
}

@media (min-width: 768px) {
  .navigation-main {
    position: sticky;
    background: none;
  }
  .navigation-main-visible .nav-link {
    font-size: 1.1rem;
  }
}

.row-slanted {
  --p: 15%; /* change the shape  */
  max-height: 70vh;
  width: 100vw;
  clip-path: polygon(0 var(--p), 100% 0, 100% calc(100% - var(--p)), 0 100%);
  background: var(--bg-img, var(--bs-gray)) fixed center center no-repeat;
  background-size: cover;
  color: white;
}

.row-slanted:not(:first-child) {
  margin-top: -4.5rem; /* Spacing between every row after the first*/
}
.row-slanted:first-child {
  --bg-img: url('https://assets.wbresearch.com/WBR/images/bg-conference.jpg');
}
.row-slanted:nth-child(2) {
  --bg-img: url('https://assets.wbresearch.com/WBR/images/bg-conference.jpg');
}
.row-slanted:last-child {
  --bg-img: url('https://assets.wbresearch.com/WBR/images/bg-conference.jpg');
}

@supports (color: hsl(from white h s l)) {
  .hero [class^='col']:first-child .btn-event {
    --bg-color: hsl(from var(--color-wbr) h s l / 0.85);
  }
  .hero [class^='col']:first-child .btn-event:hover {
    --bg-color: hsl(from var(--color-wbr) h s l / 1);
  }
  .hero [class^='col']:nth-child(2) .btn-event {
    --bg-color: hsl(from var(--color-connect) h s l / 0.85);
  }
  .hero [class^='col']:nth-child(2) .btn-event:hover {
    --bg-color: hsl(from var(--color-connect) h s l / 1);
  }
  .hero [class^='col']:last-child .btn-event {
    --bg-color: hsl(from var(--color-insights) h s l / 0.85);
  }
  .hero [class^='col']:last-child .btn-event:hover {
    --bg-color: hsl(from var(--color-insights) h s l / 1);
  }
  /* Row Slanted BG Overlays */
  .row-slanted:first-child.bg-overlay {
    --bg-color-s: hsl(from var(--color-wbr) h s l / 0.35);
  }
  .row-slanted:nth-child(2).bg-overlay {
    --bg-color-e: hsl(from var(--color-connect) h s l / 0.35);
  }
  .row-slanted:last-child.bg-overlay {
    --bg-color-s: hsl(from var(--color-insights) h s l / 0.35);
  }
}
